/*
Social Share by WP Dev Shed
http://wordpress.org/plugins/social-share-by-wpdevshed/

by: WP Dev Shed (http://wpdevshed.com/)

License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/******************************************************************
SHARE BUTTONS STYLES
******************************************************************/
.sswpds-social-wrap {
	overflow: hidden;
	margin-bottom: 30px;
}
	.sswpds-social-wrap:last-child {
		padding-top: 10px;
		margin-bottom: 15px;
	}

.sswpds-social-wrap a {
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	-o-box-sizing: border-box; 
	box-sizing: border-box;
	margin-right: 10px;
	text-decoration: none !important;
}

.sswpds-social-fb {
	display: inline-block;
	background: url(images/icon-fb.png) no-repeat left center #3B5998;
	padding: 7px 15px 7px 30px;
	text-decoration: none;
}

.sswpds-social-tw {
	display: inline-block;
	background: url(images/icon-tw.png) no-repeat left center #55ACEE;
	padding: 7px 15px 7px 36px;
	text-decoration: none;
}

.sswpds-social-fb,
.sswpds-social-tw {
	color: #fff !important;	
}

